<h3><%= link_to "#{@problem.rockgym.name}", "/rockgyms/#{@problem.rockgym_id}" %></h3>

<%= render 'show', :problem => @problem %>

</br>

<% @problem.reviews.order("created_at DESC").each do |review| %>

	<%= render 'reviews/show', review: review %>
	<% if climber_signed_in? && (current_climber.email == review.climber.email) %>
		<%= link_to 'Delete', [review.problem, review], method: :delete, data: { confirm: 'Are you sure?' }%>
	<% else %>
	<% end %>
</br>
<% end %>



<% if climber_signed_in? %>
	<p>Climbed it? Write a review!</p>
	<%= render 'reviews/form' %>
<% end %>