<h3><%= link_to "#{@problem.rockgym.name}", "/rockgyms/#{@problem.rockgym_id}" %></h3>

<%= render 'show', :problem => @problem %>

</br>

<% @problem.reviews.each do |review| %>

	<%= render 'reviews/show', review: review %>

	<% if current_climber.email == review.climber.email %>
		<%= link_to 'Edit', edit_problem_review_path(review.problem, review) %>
	<% else %>
	<% end %>

<% end %>

</br>

<% if climber_signed_in? %>
	<%= render 'reviews/form' %>
<% end %>