<div class="rockgyms">	
	<h3>Rockgyms</h3>
	<% @rockgyms.each do |rockgym| %>
		<p><%= link_to "#{rockgym.name}", rockgym %></p>
	<% end %>
</div>

<div class="reviews">
<h3>Recent Reviews</h3>
	<% @reviews.each do |review| %>
		<p><%= review.problem.rockgym.name %></p>
		<ul>	
			<li>User <%= review.climber.username %></li>
			<li><%= review.body %></li>
			<li>For its rating, this route was <%=review.rating_string%>.</li>
		</ul>
	<% end %>
</div>
