<div class="rockgyms">
	<h3>Rockgyms</h3>
	<% @rockgyms.each do |rockgym| %>
		<p><%= link_to "#{rockgym.name}", rockgym %></p>
	<% end %>
</div>

<div class="reviews">
<h3>Recent Reviews</h3>
	<% @reviews.each do |review| %>
		<p><%= review.problem.rockgym.name %></p>
		<ul>	
			<li>username: <%= review.climber.username %></li>
			<li>diff rating: <%= review.rating %></li>
			<li>comment: <%= review.body %></li>
		</ul>
	<% end %>
</div>
