<h3><%= @rockgym.name %></h3>
<div class="rockgym-show">
<% @rockgym.problems.each do |problem| %>

	<%= render 'problems/show', :problem => problem %>
	<%= link_to 'View Problem', rockgym_problem_path(@rockgym, problem) %>
<% end %>
</div>

<%= form_for [@rockgym, @problem] do |f| %>
	<%= f.label :name %><%= f.text_field :name %>
	<%= f.label :style %><%= f.text_field :style %>
	<%= f.label :rating %><%= f.text_field :rating %>
	<%= f.label :color %><%= f.text_field :color %>
	<%= f.submit 'new!' %>
<% end %>

 <%# = link_to 'New Problem', new_rockgym_problem_path(@rockgym) %>