<% if @rockgym.class != NilClass %>

<h3><%= @rockgym.name %></h3>
<div class="rockgym-show">
<% @rockgym.problems.each do |problem| %>

	<%= render 'problems/show', problem: problem %>

	<%= link_to 'View', rockgym_problem_path(@rockgym, problem) %>

	<% if climber_signed_in? && (problem.climber == current_climber) %>	
		<%= link_to 'Edit', edit_problem_path(problem) %>
		<%= link_to 'Delete', [problem.rockgym, problem], method: :delete, data: { confirm: 'Are you sure? All comments, including those from other climbers, will also be deleted.' } %>
	<% else %>
	<% end %>

	</br>
<% end %>
</div>

<% if climber_signed_in? %>

	<%= render 'problems/form' %>

<% else %>
<% end %>

<% else %>

<% end %>