<div class="review-form">

	<%= form_for [@problem, @climber, @review] do |f| %>
		<%= f.label 'Content' %><%= f.text_area :body %>
		<%= f.label 'Rating Accuracy' %>
		Way Easier:<%= f.radio_button :rating, 1 %>
		A Little Easier:<%= f.radio_button :rating, 2 %>
		Accurate:<%= f.radio_button :rating, 3 %>
		A Little Easier:<%= f.radio_button :rating, 4 %>
		Way Harder:<%= f.radio_button :rating, 5 %>

		<%= f.submit 'submit' %>
	<% end %>
</div>