<div class="review-form">

	<%= form_for [@problem, @climber, @review] do |f| %>
		<%= f.text_area :body %>
		<%= f.label 'Compared to its rating, this route was...' %>
		Way easier <%= f.radio_button :rating_string, 'way too easy' %>
		A little easier <%= f.radio_button :rating_string, 'a little easy' %>
		Right on <%= f.radio_button :rating_string, 'just right' %>
		A little harder <%= f.radio_button :rating_string, 'a little hard' %>
		Way Harder <%= f.radio_button :rating_string, 'way too hard' %>

		<%= f.submit 'submit' %>
	<% end %>
</div>