<div class="navbar">
<p><%= link_to 'CLIMBKEEPER', rockgyms_path %></p>
<p>
	<% if climber_signed_in? %>
		<%= link_to "log out", destroy_climber_session_path, method: 'delete' %>
		<%= link_to "profile", edit_climber_registration_path %>
		<%= current_climber.email %>
	<% else %>
		<%= link_to "log in", new_climber_session_path %>
		<%= link_to "sign up", new_climber_registration_path %>
<% end %>
</p>
</div>